# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Ignore IntelliJ IDEA
**/.idea/
*.iml

# Ignore VS Code / Eclipse
.vscode/
bin/

# Ignore generated --visualize output
/results/
